# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Big Data datasets
data/raw/
data/processed/

# Spark / Hadoop temporary files
.sparkStaging/
metastore_db/
derby.log/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db